
$background: #030; 
$black: #333;
$dark-grey: #666;
// $grey: #999;
$light-grey: #ccc;
$light-light-grey: #eee;
$white: #fff;

$colorNames: red green blue;
$brightColors: hsl(0, 80%, 30%) hsl(150, 80%, 30%) hsl(255, 80%, 30%);
$darkColors: hsl(0, 80%, 20%) hsl(150, 80%, 20%) hsl(255, 80%, 20%);

@for $i from 1 through length($colorNames) {
	.btn.btn-#{nth($colorNames, $i)} {
		background-color: nth($brightColors, $i);
		border: 2px solid nth($darkColors, $i);
		color: $light-light-grey;;
	}
	.btn.btn-#{nth($colorNames, $i)}:hover {
		background-color: nth($darkColors, $i);
	}
}


html, body, input {
	background-color: $background !important;
}

body {
	margin: 20px;
	color: $light-grey;
	font-weight: bold;
	text-align: center;
}
::-moz-selection {
	background: nth($brightColors, 2);
	color: $white;
}
::selection {
	background: nth($brightColors, 2);
	color: $white;
}

hr {
	border: 1px solid $light-grey;
}

.hidden {
	display: none !important;
}

.innerDiv {
	border: 2px solid $light-grey;
	padding: 20px;
	margin: 5px;
	margin-bottom: 20px;
	display: inline-block;
	position: relative;
	box-shadow: 5px 5px 0px $dark-grey;
}

.deletePlayer {
	position: absolute;
	top: 0px;
	right: 0px;
	border: none !important;
}

input[type=text], input[type=number] {
	border: 2px solid $light-grey;
	border-radius: 0px !important;
	text-align: center;
	color: $light-grey;
	font-weight: bold;
}
input[type=text]:focus, input[type=number]:focus {
	color: $white;
}

.playerName {
	margin-right: 40px;
	margin-left: 10px;
}
.playerLife {
	border-right: 0 !important;
	border-left: 0 !important;
}
.playerLife.dead {
	background-color: $light-grey !important;
	color: $light-light-grey !important;
}
#defaultLife {
	width: 100px;
	display: inline-block;
}
#newPlayer, #deleteAll, #resetAll {
	margin-bottom: 10px;
}

.btn, #defaultLife {
	border-radius: 0px;
}
.btn:hover .fas {
	transition: 0.2s ease-in-out;
	transform: scale(1.25);
}

h3 {
	color: nth($brightColors, 2);
}

/* JESUS CHRIST BOOTSTRAP */
.btn:focus,.btn:active:focus,.btn.active:focus,
.btn.focus,.btn:active.focus,.btn.active.focus {
	outline: none !important;
	box-shadow: none !important;
}

input:focus {
	outline: none !important;
	box-shadow: none !important;
	border-color: nth($brightColors, 2) !important;
}
